.idea/
db.sqlite3
predictions/__pycache__/
predictions/migrations/__pycache__/
predictions_app.egg-info/
predictions_app/__pycache__/
static/
predictions_app/__init__.pyc
predictions_app/wsgi.pyc
predictions_dev.env
set_env_vars.py
